n8n-workflows/01-chat-reminder-control.json
{
  "name": "WA Finance Bot - Chat & Reminder Control",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wa-in",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-in",
      "name": "Webhook (Incoming WA)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "wa-in"
    },
    {
      "parameters": {
        "jsCode": "// Normalize payload from GoWA\nconst inputData = $json.body || $json || {};\nconst eventType = inputData.event || '';\n\n// Skip non-message events (ack, delivered, sent, dll)\nconst skipEvents = ['message.ack', 'ack', 'delivered', 'sent', 'message.delivered', 'message.sent', 'message.waiting', 'message.revoked'];\nif (skipEvents.includes(eventType)) {\n  return [{ json: { skip: true, reason: 'status_notification', event: eventType } }];\n}\n\n// Normalize phone ke format +62\nfunction normalizePhone(phone) {\n  if (!phone) return '';\n  phone = phone.toString().replace(/[^\\d+]/g, '');\n  if (phone.startsWith('+62')) return phone;\n  if (phone.startsWith('62')) return '+' + phone;\n  if (phone.startsWith('0')) return '+62' + phone.substring(1);\n  if (phone.startsWith('8')) return '+62' + phone;\n  return phone;\n}\n\n// Extract phone from GoWA format\nfunction extractPhone(data) {\n  let rawPhone = '';\n  if (data.from && typeof data.from === 'string') {\n    const match = data.from.match(/^(\\d+)/);\n    if (match) rawPhone = match[1];\n  }\n  if (!rawPhone) rawPhone = data.phone || data.phone_number || data.sender || data.wa_id || '';\n  if (!rawPhone) return '';\n  let phone = rawPhone.toString().trim();\n  phone = phone.replace(/@s\\.whatsapp\\.net.*$/, '').replace(/:.*$/, '');\n  return normalizePhone(phone);\n}\n\n// Extract text\nfunction extractText(data) {\n  if (data.message && typeof data.message === 'object') {\n    return data.message.text || data.message.body || '';\n  }\n  return data.text || data.body || '';\n}\n\n// Extract image URL - check multiple possible locations\nfunction extractImageUrl(data) {\n  // Try root level first\n  if (data.image_url) return data.image_url;\n  if (data.imageUrl) return data.imageUrl;\n  \n  // Try nested in message object\n  if (data.message && typeof data.message === 'object') {\n    if (data.message.image_url) return data.message.image_url;\n    if (data.message.imageUrl) return data.message.imageUrl;\n    if (data.message.media && data.message.media.url) return data.message.media.url;\n  }\n  \n  // Try media object\n  if (data.media && data.media.url) return data.media.url;\n  \n  return null;\n}\n\n// Extract image ID\nfunction extractImageId(data) {\n  if (data.image_id) return data.image_id;\n  if (data.imageId) return data.imageId;\n  if (data.message && typeof data.message === 'object') {\n    if (data.message.image_id) return data.message.image_id;\n    if (data.message.imageId) return data.message.imageId;\n    if (data.message.mediaId) return data.message.mediaId;\n    if (data.message.media && data.message.media.id) return data.message.media.id;\n  }\n  if (data.media && data.media.id) return data.media.id;\n  return null;\n}\n\nconst phone = extractPhone(inputData);\nconst text = extractText(inputData).toString().trim();\nconst name = inputData.pushname || inputData.name || 'User';\nconst imageUrl = extractImageUrl(inputData);\nconst imageId = extractImageId(inputData);\n\n// Debug logging\nconsole.log('=== NORMALIZE PAYLOAD ===');\nconsole.log('Phone:', phone);\nconsole.log('Text:', text);\nconsole.log('Image URL:', imageUrl);\nconsole.log('Image ID:', imageId);\nconsole.log('Has Image:', !!(imageUrl || imageId));\nconsole.log('Original payload keys:', Object.keys(inputData));\nif (inputData.message) console.log('Message keys:', Object.keys(inputData.message));\nconsole.log('========================');\n\nreturn [{ json: { skip: false, phone, text, name, image_url: imageUrl, image_id: imageId, original_payload: inputData } }];;"
      },
      "id": "normalize",
      "name": "Normalize Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.catatuang.click/api/internal/users/check-or-create",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "5d6c97839c8140f115fae5b1e6ac71fd3e7952b96c26c6df11e7660777bda653"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  phone_number: ($json.phone || $json.phone_number || '').toString(),\n  name: $json.name || 'User'\n}) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          },
          "timeout": 10000
        }
      },
      "id": "check-user",
      "name": "Check or Create User",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Merge data dari Normalize Payload dengan API response\n// Laravel checkOrCreate sudah handle: cek user berdasarkan phone_number, kalau ada return existing (dengan plan VIP), kalau tidak ada create baru (free)\nconst normalizeData = $('Normalize Payload').first().json || {};\nconst apiResponse = $json || {};\n\n// Parse API response\nlet apiData = {};\nif (apiResponse.body && typeof apiResponse.body === 'object') {\n  apiData = apiResponse.body.data || apiResponse.body || {};\n} else if (apiResponse.data) {\n  apiData = apiResponse.data;\n}\n\n// Log untuk debug - pastikan user yang ditemukan adalah yang benar\nconsole.log('=== CHECK OR CREATE USER RESULT ===');\nconsole.log('Phone sent to Laravel:', normalizeData.phone);\nconsole.log('User found/created:', apiData.name || 'N/A');\nconsole.log('Plan:', apiData.plan || 'N/A');\nconsole.log('Phone from API:', apiData.phone_number || 'N/A');\nconsole.log('Limits:', JSON.stringify(apiData.limits || {}));\nconsole.log('===================================');\n\n// Gabungkan data - prioritas API response untuk plan/limits (karena ini data dari database)\n// Prioritas Normalize Payload untuk phone, text, name (karena ini data real-time dari WhatsApp)\nconst merged = {\n  phone: normalizeData.phone || apiData.phone_number || '',\n  text: normalizeData.text || '',\n  name: apiData.name || normalizeData.name || 'Kak', // Prioritas nama dari database\n  image_url: normalizeData.image_url || null,\n  image_id: normalizeData.image_id || null,\n  response_style: apiData.response_style || 'santai',\n  plan: apiData.plan || 'free', // Plan dari database (VIP jika user existing)\n  limits: apiData.limits || {},\n  original_payload: normalizeData.original_payload || {},\n  api_data: apiData\n};\n\nconsole.log('Merged data:', JSON.stringify(merged, null, 2));\n\nreturn [{ json: merged }];"
      },
      "id": "merge-data",
      "name": "Merge Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.catatuang.click/api/internal/uploads/pending",
        "authentication": "none",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "phone_number",
              "value": "={{ $json.phone || $json.phone_number || '' }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "5d6c97839c8140f115fae5b1e6ac71fd3e7952b96c26c6df11e7660777bda653"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "check-pending-upload",
      "name": "Check Pending Upload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Check if user has pending upload AND reply is confirmation\nconst mergedData = $('Merge Data').first().json || {};\nconst pendingResponse = $json || {};\n\n// Parse pending upload response\nlet hasPendingUpload = false;\nlet pendingData = null;\n\nif (pendingResponse.body && typeof pendingResponse.body === 'object') {\n  const body = pendingResponse.body;\n  if (body.success === true && body.data && body.data.pending_upload_id) {\n    hasPendingUpload = true;\n    pendingData = body.data;\n  }\n} else if (pendingResponse.success === true && pendingResponse.data && pendingResponse.data.pending_upload_id) {\n  hasPendingUpload = true;\n  pendingData = pendingResponse.data;\n}\n\n// Detect if user reply is confirmation (pemasukan/pengeluaran/masuk/keluar)\nconst text = (mergedData.text || '').toLowerCase().trim();\nconst confirmationKeywords = {\n  income: ['pemasukan', 'masuk', 'income', 'terima', 'diterima', 'dapat', 'dapet'],\n  expense: ['pengeluaran', 'keluar', 'expense', 'bayar', 'bayar', 'kirim', 'kirim uang']\n};\n\nlet isConfirmation = false;\nlet confirmationType = null;\n\n// Check for income keywords\nfor (const keyword of confirmationKeywords.income) {\n  if (text.includes(keyword)) {\n    isConfirmation = true;\n    confirmationType = 'income';\n    break;\n  }\n}\n\n// Check for expense keywords if not income\nif (!isConfirmation) {\n  for (const keyword of confirmationKeywords.expense) {\n    if (text.includes(keyword)) {\n      isConfirmation = true;\n      confirmationType = 'expense';\n      break;\n    }\n  }\n}\n\n// Determine intent\nlet intent = 'continue_normal'; // Default: continue to Detect Intent (AI)\n\n// SKIP Detect Intent jika ada image_url (image sudah di-handle di flow lain)\nif (mergedData.image_url || mergedData.image_id) {\n  intent = 'skip_detect_intent';\n} else if (hasPendingUpload && isConfirmation) {\n  // User has pending upload AND replied with confirmation → route to Confirm Income/Expense\n  intent = confirmationType === 'income' ? 'confirm_income' : 'confirm_expense';\n} else if (hasPendingUpload && !isConfirmation && !mergedData.image_url) {\n  // User has pending upload but reply is NOT confirmation AND not sending new image\n  // This means user is replying something else → still ask confirmation\n  intent = 'ask_confirmation_again';\n}\n\nconsole.log('=== CHECK PENDING UPLOAD & CONFIRMATION ===');\nconsole.log('Has Pending Upload:', hasPendingUpload);\nconsole.log('Pending Data:', JSON.stringify(pendingData));\nconsole.log('User Text:', text);\nconsole.log('Is Confirmation:', isConfirmation);\nconsole.log('Confirmation Type:', confirmationType);\nconsole.log('Intent:', intent);\nconsole.log('===========================================');\n\nreturn [{ json: { \n  ...mergedData,\n  has_pending_upload: hasPendingUpload,\n  pending_upload_data: pendingData,\n  is_confirmation: isConfirmation,\n  confirmation_type: confirmationType,\n  intent: intent\n} }];"
      },
      "id": "detect-confirmation",
      "name": "Detect Confirmation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1050,
        300
      ]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "confirm_income",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "confirm_income"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "confirm_expense",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "confirm_expense"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "ask_confirmation_again",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "ask_confirmation_again"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "skip_detect_intent",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "skip_detect_intent"
            }
          ]
        },
        "options": {}
      },
      "id": "route-confirmation",
      "name": "Route Confirmation",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1250,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "HTTP-Referer",
              "value": "https://catatuang.click"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: 'openai/gpt-4o-mini',\n  messages: [\n    {\n      role: 'system',\n      content: `Kamu adalah asisten pencatat keuangan via WhatsApp. Nama user: ${$json.name || 'Kak'}.\n\nATURAN PENTING:\n1. Jika user MENYAPA (halo, hai, hi, selamat pagi, dll) → balas sapaan ramah dan tanya \"mau catat apa hari ini?\"\n2. Jika user KIRIM TRANSAKSI (ada nominal uang seperti \"bioskop 150k\", \"kopi 20rb\", \"gaji 5jt\") → LANGSUNG PARSE dan extract, JANGAN TANYA LAGI!\n3. Jika tidak jelas atau tidak ada nominal → tanya \"mau catat apa hari ini?\"\n\nPENTING: Jika ada nominal uang di text, itu adalah transaksi. Langsung parse, jangan tanya lagi!\n\nKembalikan JSON:\n{\n  \"reply\": \"pesan balasan untuk user (untuk greeting saja)\",\n  \"is_transaction\": true/false,\n  \"amount\": number atau null,\n  \"description\": \"deskripsi transaksi\" atau null,\n  \"category\": \"kategori\" atau null,\n  \"type\": \"income\" atau \"expense\" atau null\n}\n\nKategori yang tersedia:\n- Makan (untuk makanan, minuman, kopi, restoran, dll)\n- Transport (untuk bensin, parkir, ojek, taksi, service motor, dll)\n- Belanja (untuk belanja kebutuhan, pakaian, dll)\n- Hiburan (untuk bioskop, game, dll)\n- Kesehatan (untuk obat, dokter, dll)\n- Tagihan (untuk listrik, air, internet, dll)\n- Lainnya (untuk yang tidak jelas)\n\nContoh transaksi:\n- \"kopi 20k\" → amount: 20000, description: \"kopi\", category: \"Makan\", type: \"expense\"\n- \"makan siang 25rb\" → amount: 25000, description: \"makan siang\", category: \"Makan\", type: \"expense\"\n- \"service motor 150rb\" → amount: 150000, description: \"service motor\", category: \"Transport\", type: \"expense\"\n- \"gaji 5jt\" → amount: 5000000, description: \"gaji\", category: \"Lainnya\", type: \"income\"\n- \"bonus 500rb\" → amount: 500000, description: \"bonus\", category: \"Lainnya\", type: \"income\"\n\nKata kunci income: gaji, bonus, masuk, terima, dapat, saldo masuk, transfer masuk\nSelain itu = expense\n\nUntuk greeting, balas dengan gaya santai dan ramah. Gunakan emoji sesekali.`\n    },\n    {\n      role: 'user',\n      content: $json.text || 'halo'\n    }\n  ],\n  temperature: 0.1,\n  response_format: { type: 'json_object' }\n}) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "detect-intent-ai",
      "name": "Detect Intent (AI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1450,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse AI response - AI sudah buat reply dan parse transaksi\nconst mergedData = $('Merge Data').first().json || {};\nconst aiResponse = $json || {};\n\n// Parse AI response\nlet parsed = {};\ntry {\n  const content = aiResponse.choices?.[0]?.message?.content || '{}';\n  parsed = JSON.parse(content);\n  console.log('AI response:', JSON.stringify(parsed));\n} catch (e) {\n  console.log('Failed to parse AI response:', e);\n  // Fallback jika AI error\n  parsed = {\n    reply: `Halo ${mergedData.name || 'Kak'}! 👋\\n\\nMau catat apa hari ini?`,\n    is_transaction: false,\n    amount: null,\n    description: null,\n    type: null\n  };\n}\n\nconst phone = mergedData.phone || '';\nconst text = mergedData.text || '';\nconst name = mergedData.name || 'Kak';\nconst imageUrl = mergedData.image_url || null;\nconst imageId = mergedData.image_id || null;\nconst responseStyle = mergedData.response_style || 'santai';\n\n// Determine intent based on AI response\nlet intent = 'ai_reply'; // default: langsung kirim reply dari AI\n\n// Override jika ada image (skip, sudah di-handle di flow lain)\nif (imageUrl || imageId) {\n  intent = 'skip_image_already_handled';\n}\n// Jika ada transaksi, LANGSUNG SIMPAN, jangan tanya lagi!\nelse if (parsed.is_transaction && parsed.amount > 0) {\n  intent = 'save_transaction';\n}\n\nconsole.log('=== AI RESPONSE ===');\nconsole.log('Phone:', phone);\nconsole.log('Text:', text);\nconsole.log('Reply:', parsed.reply);\nconsole.log('Is Transaction:', parsed.is_transaction);\nconsole.log('Intent:', intent);\n\n// Return data dengan reply dari AI\nreturn [{ json: { \n  ...mergedData,\n  phone, \n  text, \n  name,\n  image_url: imageUrl, \n  image_id: imageId, \n  intent,\n  original_text: text,\n  response_style: responseStyle,\n  replyMessage: parsed.reply || `Halo ${name}! Mau catat apa hari ini?`,\n  parsed_amount: parsed.amount || null,\n  parsed_description: parsed.description || null,\n  parsed_category: parsed.category || 'Lainnya',\n  parsed_type: parsed.type || 'expense',\n  has_transaction: (parsed.is_transaction && parsed.amount > 0),\n  data: {\n    ...mergedData.api_data,\n    phone_number: phone,\n    name: name,\n    response_style: responseStyle\n  }\n} }];"
      },
      "id": "detect-intent",
      "name": "Detect Intent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        950,
        300
      ]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "save_transaction",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "save_transaction"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "image_upload",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "image_upload"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "ai_reply",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "ai_reply"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "skip_image_already_handled",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "skip_image_already_handled"
            }
          ]
        },
        "options": {}
      },
      "id": "route-by-intent",
      "name": "Route By Intent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1150,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.catatuang.click/api/internal/users/reminder",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "5d6c97839c8140f115fae5b1e6ac71fd3e7952b96c26c6df11e7660777bda653"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  phone_number: $json.phone || $json.phone_number || $json.data?.phone_number || '',\n  reminder_enabled: false\n}) }}",
        "options": {}
      },
      "id": "update-reminder-off",
      "name": "Update Reminder OFF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1250,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.catatuang.click/api/internal/users/reminder",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "5d6c97839c8140f115fae5b1e6ac71fd3e7952b96c26c6df11e7660777bda653"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  phone_number: $json.phone || $json.phone_number || $json.data?.phone_number || '',\n  reminder_enabled: true\n}) }}",
        "options": {}
      },
      "id": "update-reminder-on",
      "name": "Update Reminder ON",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1250,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.catatuang.click/api/internal/users/style",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "5d6c97839c8140f115fae5b1e6ac71fd3e7952b96c26c6df11e7660777bda653"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  phone_number: $json.phone || $json.phone_number || $json.data?.phone_number || '',\n  style: $json.style || 'santai'\n}) }}",
        "options": {}
      },
      "id": "update-style",
      "name": "Update Style",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1250,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract period from text\nconst text = ($json.text || \"\").toLowerCase();\nlet period = 'this_month'; // default\n\nif (text.includes('bulan lalu') || text.includes('bulan kemarin')) {\n  period = 'last_month';\n} else if (text.includes('setahun') || text.includes('tahun ini') || text.includes('sepanjang tahun')) {\n  period = 'this_year';\n} else if (text.includes('bulan ini') || text.includes('bulan sekarang')) {\n  period = 'this_month';\n}\n\nreturn [{ json: { ...$json, period } }];"
      },
      "id": "extract-period",
      "name": "Extract Period",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.catatuang.click/api/internal/reports/pdf-expense-monthly",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "5d6c97839c8140f115fae5b1e6ac71fd3e7952b96c26c6df11e7660777bda653"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  phone_number: $json.phone || $json.phone_number || $json.data?.phone_number || '',\n  period: $json.period || 'this_month'\n}) }}",
        "options": {
          "retry": {
            "maxRetries": 2,
            "retryOnFail": true
          }
        }
      },
      "id": "generate-pdf-report",
      "name": "Generate PDF Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1450,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "// Handle PDF response - check if success or error\nconst response = $json.body || $json;\n\nif (response.success === true) {\n  // Success: ada PDF\n  return [{\n    json: {\n      ...$json,\n      pdf_success: true,\n      pdf_base64: response.data.pdf_base64,\n      filename: response.data.filename,\n      period_label: response.data.period_label,\n      total_expense: response.data.total_expense,\n      transaction_count: response.data.transaction_count\n    }\n  }];\n} else {\n  // Error: plan tidak support atau subscription expired\n  return [{\n    json: {\n      ...$json,\n      pdf_success: false,\n      error_message: response.message || 'Error generating PDF',\n      error_data: response.data || {},\n      response_style: response.data?.response_style || 'santai'\n    }\n  }];\n}"
      },
      "id": "handle-pdf-response",
      "name": "Handle PDF Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1650,
        500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "if-pdf-success",
              "leftValue": "={{ $json.pdf_success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "switch-pdf-response",
      "name": "Switch PDF Response",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1850,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "// Generate error message sesuai response_style\nconst style = $json.response_style || 'santai';\nconst errorData = $json.error_data || {};\n\nconst messages = {\n  santai: 'Wah, fitur PDF report ini cuma buat plan Pro/VIP nih. Upgrade dulu yuk!',\n  netral: 'Fitur PDF report hanya tersedia untuk plan Pro dan VIP. Silakan upgrade plan Anda.',\n  formal: 'Maaf, fitur laporan PDF hanya dapat diakses oleh pengguna plan Pro dan VIP. Mohon upgrade plan terlebih dahulu.',\n  gaul: 'Eits, PDF report cuma buat plan Pro/VIP aja nih. Upgrade dulu dong!'\n};\n\nconst message = messages[style] || messages.netral;\n\nreturn [{ json: { ...$json, replyMessage: message } }];"
      },
      "id": "generate-error-message",
      "name": "Generate Error Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2050,
        600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gowa-dsidfoh89ayl.sgp-irawan.sumopod.my.id/send/message",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Basic b05LRk1PbmE6ekpjUnM2MmtaTFVNaWFQVDJrNDBJSksy"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  phone: ($json.phone || $json.phone_number || $json.data?.phone_number || '').toString().replace(/^\\+/, ''),\n  message: `Laporan PDF pengeluaran ${$json.period_label} sudah siap! Total: Rp ${String($json.total_expense || 0).replace(/\\B(?=(\\d{3})+(?!\\d))/g, '.')} (${$json.transaction_count || 0} transaksi)`,\n  file: $json.pdf_base64,\n  filename: $json.filename\n}) }}",
        "options": {
          "retry": {
            "maxRetries": 3,
            "retryOnFail": true
          }
        }
      },
      "id": "send-pdf-gowa",
      "name": "Send PDF via GoWA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2050,
        400
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.catatuang.click/api/internal/users/limits",
        "authentication": "none",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "phone_number",
              "value": "={{ $json.phone || $json.phone_number || $json.data?.phone_number || '' }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "5d6c97839c8140f115fae5b1e6ac71fd3e7952b96c26c6df11e7660777bda653"
            }
          ]
        },
        "options": {}
      },
      "id": "check-struk-quota",
      "name": "Check Struk Quota",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1250,
        600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-quota",
              "leftValue": "={{ $json.data?.limits?.struk?.remaining }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "unlimited-quota",
              "leftValue": "={{ $json.data?.limits?.struk?.limit }}",
              "rightValue": null,
              "operator": {
                "type": "any",
                "operation": "empty"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "check-has-struk-quota",
      "name": "Check Has Struk Quota",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1450,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "// Generate reply untuk kuota struk habis\nconst normalizeData = $('Normalize Payload').item.json || {};\nconst userName = normalizeData.name || $json.name || $json.data?.name || 'Kak';\nconst style = ($json.data?.response_style || $json.response_style || 'santai').toLowerCase();\nconst strukLimit = $json.data?.limits?.struk?.limit || 0;\nconst strukUsed = $json.data?.limits?.struk?.used || 0;\n\nconst messages = {\n  santai: [\n    `Maaf ${userName}, kuota struk bulan ini sudah habis. Limit: ${strukLimit}, Terpakai: ${strukUsed}. Upgrade paket untuk dapat lebih banyak kuota!`,\n    `Wah ${userName}, kuota struk udah abis nih. Limit: ${strukLimit}, Terpakai: ${strukUsed}. Coba upgrade paket ya!`,\n    `${userName}, kuota struk bulan ini sudah penuh. Limit: ${strukLimit}, Terpakai: ${strukUsed}. Upgrade paket untuk lebih banyak kuota!`\n  ],\n  netral: [\n    `${userName}, kuota struk bulan ini sudah habis. Limit: ${strukLimit}, Terpakai: ${strukUsed}. Silakan upgrade paket untuk mendapatkan lebih banyak kuota.`,\n    `Kuota struk bulan ini sudah mencapai batas. Limit: ${strukLimit}, Terpakai: ${strukUsed}. Upgrade paket untuk lebih banyak kuota.`\n  ],\n  formal: [\n    `${userName}, kuota struk bulan ini telah habis. Limit: ${strukLimit}, Terpakai: ${strukUsed}. Mohon upgrade paket untuk mendapatkan lebih banyak kuota.`,\n    `Kuota struk bulan ini telah mencapai batas maksimal. Limit: ${strukLimit}, Terpakai: ${strukUsed}. Silakan upgrade paket untuk lebih banyak kuota.`\n  ],\n  gaul: [\n    `Wah ${userName}, kuota struk udah abis! Limit: ${strukLimit}, Terpakai: ${strukUsed}. Upgrade paket dong!`,\n    `${userName}, kuota struk bulan ini udah penuh. Limit: ${strukLimit}, Terpakai: ${strukUsed}. Upgrade paket ya!`\n  ]\n};\n\nconst pool = messages[style] || messages.santai;\nconst message = pool[Math.floor(Math.random() * pool.length)];\nconst delay = Math.floor(Math.random() * 2000) + 1000;\n\nreturn [{ json: { ...$json, replyMessage: message, delay } }];"
      },
      "id": "generate-quota-exceeded",
      "name": "Generate Quota Exceeded Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1650,
        700
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "HTTP-Referer",
              "value": "https://catatuang.click"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: 'openai/gpt-4o',\n  messages: [\n    {\n      role: 'system',\n      content: `Kamu adalah AI vision untuk ekstraksi transaksi dari gambar struk/nota atau bukti transfer.\n\nKembalikan JSON:\n{\n  \"amount\": number,\n  \"description\": string,\n  \"type\": \"income\" | \"expense\" | \"unknown\",\n  \"needs_confirmation\": boolean,\n  \"tanggal\": \"YYYY-MM-DD\" | null\n}\n\nATURAN PENTING:\n1. Struk toko (Indomaret/Alfamart/Supermarket/Pertamina/Resto/Cafe) → type=expense, needs_confirmation=false.\n\n2. Bukti transfer/p2p/QRIS (DANA/OVO/GoPay/Bank/QRIS/Send Money/Kirim Uang) → WAJIB needs_confirmation=true karena tidak jelas apakah ini pemasukan atau pengeluaran.\n\n3. Jika gambar menunjukkan:\n   - \"Send Money\" / \"Kirim Uang\" / \"Transfer\" → type=unknown, needs_confirmation=true (WAJIB)\n   - Logo DANA/OVO/GoPay dengan transfer → type=unknown, needs_confirmation=true (WAJIB)\n   - QRIS payment → type=unknown, needs_confirmation=true (WAJIB)\n   - Bank transfer → type=unknown, needs_confirmation=true (WAJIB)\n\n4. Hanya jika JELAS dana MASUK ke user (ada kata \"terima\", \"masuk\", \"diterima\", \"received\") → type=income, needs_confirmation=false.\n\n5. Hanya jika JELAS user membayar/kirim ke orang lain (ada kata \"bayar\", \"kirim\", \"send\", \"paid\") → type=expense, needs_confirmation=false.\n\n6. Jika RAGU atau tidak jelas arah dana → type=unknown, needs_confirmation=true (WAJIB).\n\nPENTING: Untuk semua transfer/p2p/QRIS, selalu set needs_confirmation=true agar user dikonfirmasi apakah ini pemasukan atau pengeluaran.`\n    },\n    {\n      role: 'user',\n      content: [\n        {\n          type: 'text',\n          text: 'Extract transaksi dari gambar struk ini. Return JSON saja, tanpa penjelasan.'\n        },\n        {\n          type: 'image_url',\n          image_url: {\n            url: $json.image_url || $('Normalize Payload').item.json.image_url\n          }\n        }\n      ]\n    }\n  ],\n  temperature: 0.1,\n  response_format: { type: 'json_object' }\n}) }}",
        "options": {}
      },
      "id": "parse-struk-openrouter",
      "name": "Parse Struk (OpenRouter Vision)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1650,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse OpenRouter vision response\nconst response = $json.choices?.[0]?.message?.content || '{}';\nlet parsed = {};\n\ntry {\n  parsed = JSON.parse(response);\n} catch (e) {\n  console.error('Failed to parse OpenRouter response:', e);\n  parsed = {};\n}\n\nconst amount = parsed.amount || null;\nconst description = (parsed.description || 'Struk').toString();\nconst aiType = (parsed.type || 'unknown').toLowerCase();\nconst tanggal = parsed.tanggal || new Date().toISOString().split('T')[0];\n\n// Deteksi indikasi transfer/QRIS/p2p untuk wajib konfirmasi\nconst transferKeywords = ['dana', 'ovo', 'gopay', 'qris', 'bank', 'transfer', 'send money', 'kirim', 'tf', 'rekening'];\nconst descLower = description.toLowerCase();\nconst isTransfer = transferKeywords.some(k => descLower.includes(k));\n\nlet needsConfirmation = parsed.needs_confirmation === true || aiType === 'unknown' || isTransfer;\n\n// Get original data\nconst normalizeData = $('Normalize Payload').item.json || {};\nconst phone = normalizeData.phone || $json.phone || '';\n\n// Decide final intent and type\nlet intent = 'save_transaction';\nlet finalType = aiType === 'income' || aiType === 'expense' ? aiType : 'expense';\nif (needsConfirmation) {\n  intent = 'image_pending';\n}\n\nconst hasTransaction = amount && amount > 0;\n\nreturn [{ json: { \n  ...$('Detect Intent').item.json,\n  phone,\n  parsed_amount: amount,\n  parsed_description: description,\n  parsed_type: finalType,\n  parsed_tanggal: tanggal,\n  parsed_needs_confirmation: needsConfirmation,\n  intent,\n  has_transaction: hasTransaction,\n  source: 'receipt'\n} }];"
      },
      "id": "parse-struk-response",
      "name": "Parse Struk Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1850,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.catatuang.click/api/internal/uploads/create",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "5d6c97839c8140f115fae5b1e6ac71fd3e7952b96c26c6df11e7660777bda653"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  phone_number: $json.phone || $json.phone_number || $json.data?.phone_number || '',\n  image_url: $json.image_url || null\n}) }}",
        "options": {
          "retry": {
            "maxRetries": 2,
            "retryOnFail": true
          }
        }
      },
      "id": "create-pending-upload",
      "name": "Create Pending Upload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1450,
        700
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "need-confirm",
              "leftValue": "={{ $json.parsed_needs_confirmation }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "route-struk-confirmation",
      "name": "Route Struk Confirmation",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        2050,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "// Generate question sesuai response_style\nconst style = ($json.data?.response_style || $json.response_style || 'santai').toLowerCase();\n\nconst questions = {\n  santai: [\n    'Wah, dapat gambar nih! Ini pemasukan atau pengeluaran?',\n    'Oke gambar udah diterima. Ini masuk atau keluar?',\n    'Gambar sudah sampai! Ini pemasukan atau pengeluaran ya?'\n  ],\n  netral: [\n    'Gambar diterima. Apakah ini pemasukan atau pengeluaran?',\n    'Gambar sudah diterima. Silakan konfirmasi: pemasukan atau pengeluaran?',\n    'Gambar berhasil diterima. Ini pemasukan atau pengeluaran?'\n  ],\n  formal: [\n    'Gambar telah diterima. Mohon konfirmasi: pemasukan atau pengeluaran?',\n    'Gambar berhasil diterima. Silakan tentukan jenis transaksi: pemasukan atau pengeluaran?',\n    'Gambar telah kami terima. Mohon konfirmasi jenis transaksi: pemasukan atau pengeluaran?'\n  ],\n  gaul: [\n    'Dapet gambar nih! Ini masuk atau keluar?',\n    'Gambar udah sampe! Ini pemasukan atau pengeluaran?',\n    'Oke gambar masuk! Ini masuk atau keluar ya?'\n  ]\n};\n\nconst pool = questions[style] || questions.santai;\nconst message = pool[Math.floor(Math.random() * pool.length)];\nconst delay = Math.floor(Math.random() * 2000) + 1000;\n\nreturn [{ json: { ...$json, replyMessage: message, delay } }];"
      },
      "id": "generate-question",
      "name": "Generate Question",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1450,
        600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.catatuang.click/api/internal/uploads/confirm",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "5d6c97839c8140f115fae5b1e6ac71fd3e7952b96c26c6df11e7660777bda653"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  phone_number: $json.phone || $json.phone_number || $json.data?.phone_number || '',\n  transaction_type: 'income',\n  amount: $json.pending_upload_data?.extracted_data?.amount || $json.parsed_amount || null,\n  description: $json.pending_upload_data?.extracted_data?.description || $json.parsed_description || null,\n  tanggal: $json.pending_upload_data?.extracted_data?.tanggal || $json.parsed_tanggal || null\n}) }}",
        "options": {
          "retry": {
            "maxRetries": 2,
            "retryOnFail": true
          }
        }
      },
      "id": "confirm-income",
      "name": "Confirm Income",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1250,
        700
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.catatuang.click/api/internal/uploads/confirm",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "5d6c97839c8140f115fae5b1e6ac71fd3e7952b96c26c6df11e7660777bda653"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  phone_number: $json.phone || $json.phone_number || $json.data?.phone_number || '',\n  transaction_type: 'expense',\n  amount: $json.pending_upload_data?.extracted_data?.amount || $json.parsed_amount || null,\n  description: $json.pending_upload_data?.extracted_data?.description || $json.parsed_description || null,\n  tanggal: $json.pending_upload_data?.extracted_data?.tanggal || $json.parsed_tanggal || null\n}) }}",
        "options": {
          "retry": {
            "maxRetries": 2,
            "retryOnFail": true
          }
        }
      },
      "id": "confirm-expense",
      "name": "Confirm Expense",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1250,
        800
      ]
    },
    {
      "parameters": {
        "jsCode": "// Generate confirmation message sesuai response_style\nconst style = ($json.data?.response_style || $json.response_style || 'santai').toLowerCase();\nconst transactionType = $json.data?.transaction_type || 'expense';\nconst amount = $json.data?.amount || null;\nconst typeLabel = transactionType === 'income' ? 'pemasukan' : 'pengeluaran';\n\nconst messages = {\n  santai: [\n    `Sudah dicatat ya!${amount ? ' ' + String(amount).replace(/\\B(?=(\\d{3})+(?!\\d))/g, '.') : ''}`,\n    `Oke, sudah dicatat!${amount ? ' Rp ' + String(amount).replace(/\\B(?=(\\d{3})+(?!\\d))/g, '.') : ''}`,\n    `Siap, sudah dicatat ya!${amount ? ' ' + String(amount).replace(/\\B(?=(\\d{3})+(?!\\d))/g, '.') : ''}`\n  ],\n  netral: [\n    `Sudah dicatat.${amount ? ' Rp ' + String(amount).replace(/\\B(?=(\\d{3})+(?!\\d))/g, '.') : ''}`,\n    `Transaksi sudah dicatat.${amount ? ' Jumlah: Rp ' + String(amount).replace(/\\B(?=(\\d{3})+(?!\\d))/g, '.') : ''}`,\n    `Sudah dicatat.${amount ? ' ' + String(amount).replace(/\\B(?=(\\d{3})+(?!\\d))/g, '.') : ''}`\n  ],\n  formal: [\n    `Transaksi sudah dicatat.${amount ? ' Jumlah: Rp ' + String(amount).replace(/\\B(?=(\\d{3})+(?!\\d))/g, '.') : ''}`,\n    `Sudah dicatat.${amount ? ' Rp ' + String(amount).replace(/\\B(?=(\\d{3})+(?!\\d))/g, '.') : ''}`,\n    `Transaksi telah dicatat.${amount ? ' Jumlah: Rp ' + String(amount).replace(/\\B(?=(\\d{3})+(?!\\d))/g, '.') : ''}`\n  ],\n  gaul: [\n    `Udah dicatat nih!${amount ? ' ' + String(amount).replace(/\\B(?=(\\d{3})+(?!\\d))/g, '.') : ''}`,\n    `Done, udah dicatat!${amount ? ' Rp ' + String(amount).replace(/\\B(?=(\\d{3})+(?!\\d))/g, '.') : ''}`,\n    `Siap, udah masuk!${amount ? ' ' + String(amount).replace(/\\B(?=(\\d{3})+(?!\\d))/g, '.') : ''}`\n  ]\n};\n\nconst pool = messages[style] || messages.santai;\nconst message = pool[Math.floor(Math.random() * pool.length)];\nconst delay = Math.floor(Math.random() * 2000) + 1000;\n\nreturn [{ json: { ...$json, replyMessage: message, delay } }];"
      },
      "id": "generate-confirmation",
      "name": "Generate Confirmation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1450,
        700
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "HTTP-Referer",
              "value": "https://catatuang.click"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: 'openai/gpt-4o',\n  messages: [\n    {\n      role: 'system',\n      content: 'Kamu adalah AI yang membantu extract informasi transaksi keuangan dari text bahasa Indonesia. Extract amount (dalam rupiah, angka saja), description, dan type (income atau expense). Return JSON format: {\\\"amount\\\": number, \\\"description\\\": string, \\\"type\\\": \\\"income\\\" | \\\"expense\\\"}'\n    },\n    {\n      role: 'user',\n      content: `Extract transaksi dari text ini: \"${$json.text || ''}\". Jika ada kata seperti gaji, bonus, masuk, terima, dapat, saldo masuk = income. Default = expense. Return JSON saja, tanpa penjelasan.`\n    }\n  ],\n  temperature: 0.3,\n  response_format: { type: 'json_object' }\n}) }}",
        "options": {}
      },
      "id": "parse-transaction-openrouter",
      "name": "Parse Transaction (OpenRouter)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse OpenRouter response\nconst response = $json.choices?.[0]?.message?.content || '{}';\nlet parsed = {};\n\ntry {\n  parsed = JSON.parse(response);\n} catch (e) {\n  console.error('Failed to parse OpenRouter response:', e);\n  parsed = {};\n}\n\nconst amount = parsed.amount || null;\nconst description = parsed.description || '';\nconst type = parsed.type || 'expense';\n\n// Validate\nconst hasTransaction = amount && amount > 0 && description && description.length > 0;\n\nreturn [{ json: { \n  ...$('Detect Intent').item.json,\n  parsed_amount: amount,\n  parsed_description: description,\n  parsed_type: type,\n  has_transaction: hasTransaction\n} }];"
      },
      "id": "parse-openrouter-response",
      "name": "Parse OpenRouter Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1450,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "if-has-transaction",
              "leftValue": "={{ $json.has_transaction }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "check-has-transaction",
      "name": "Check Has Transaction",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1450,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.catatuang.click/api/internal/transactions/batch",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "5d6c97839c8140f115fae5b1e6ac71fd3e7952b96c26c6df11e7660777bda653"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  phone_number: ($json.phone || $json.phone_number || $json.data?.phone_number || '').toString(),\n  transactions: [{\n    tanggal: $json.parsed_tanggal || new Date().toISOString().split('T')[0],\n    amount: parseInt($json.parsed_amount) || 0,\n    description: $json.parsed_description || 'transaksi',\n    type: $json.parsed_type || 'expense',\n    source: $json.source || 'text'\n  }]\n}) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "save-transaction",
      "name": "Save Transaction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1650,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Generate format konsisten seperti gambar 2: \"Dicatat\" dengan kategori dan jumlah (bold)\nconst detectIntentData = $('Detect Intent').first().json || {};\nconst saveResponse = $json || {};\n\n// Get data dari Detect Intent atau Save Transaction response\nconst amount = detectIntentData.parsed_amount || $json.amount || 0;\nconst description = detectIntentData.parsed_description || $json.description || '';\nconst category = detectIntentData.parsed_category || $json.category || 'Lainnya';\nconst type = detectIntentData.parsed_type || $json.type || 'expense';\n\n// Format amount ke Rupiah\nconst formattedAmount = 'Rp' + String(amount).replace(/\\B(?=(\\d{3})+(?!\\d))/g, '.');\n\n// Format message konsisten seperti gambar 2 dengan bold\n// WhatsApp bold: *teks*\nconst replyMessage = `*Dicatat*\n\nKategori: ${category}\nJumlah: ${formattedAmount}`;\n\nconst delay = Math.floor(Math.random() * 2000) + 1000;\n\nconsole.log('Transaction Confirmation:');\nconsole.log('  Category:', category);\nconsole.log('  Amount:', formattedAmount);\nconsole.log('  Message:', replyMessage);\n\nreturn [{ json: { \n  ...$json, \n  ...detectIntentData,\n  replyMessage: replyMessage, \n  delay,\n  parsed_category: category\n} }];"
      },
      "id": "generate-transaction-confirmation",
      "name": "Generate Transaction Confirmation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1850,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Template pools for responses\nconst styleLabel = ($json.style || '').toString();\n\n// Get user name from multiple sources:\n// 1. Normalize Payload (pushname from WhatsApp)\n// 2. API response (user from database)\n// 3. Fallback to 'Kak'\nconst normalizeData = $('Normalize Payload').item.json || {};\nconst userName = normalizeData.name || $json.name || $json.data?.name || 'Kak';\nconst responseStyle = ($json.data?.response_style || $json.response_style || 'santai').toLowerCase();\n\n// Greeting templates by style - sapaan dulu, baru tanya mau catat apa\nconst greetingTemplates = {\n  santai: [\n    `Halo juga ${userName}! 👋\\n\\nMau catat apa hari ini?`,\n    `Hai ${userName}! Apa kabar?\\n\\nAda yang mau dicatat hari ini?`,\n    `Halo ${userName}! Senang bisa bantu 😊\\n\\nMau catat transaksi apa nih?`\n  ],\n  netral: [\n    `Halo ${userName}, terima kasih sudah menghubungi.\\n\\nAda yang bisa dibantu? Mau catat transaksi apa hari ini?`,\n    `Hai ${userName}, selamat datang.\\n\\nAda transaksi yang ingin dicatat?`,\n    `Halo ${userName}.\\n\\nApa yang ingin dicatat hari ini?`\n  ],\n  formal: [\n    `Selamat ${new Date().getHours() < 12 ? 'pagi' : new Date().getHours() < 15 ? 'siang' : new Date().getHours() < 18 ? 'sore' : 'malam'} ${userName}.\\n\\nTerima kasih sudah menghubungi. Ada transaksi yang perlu dicatat hari ini?`,\n    `Halo ${userName}, selamat datang.\\n\\nSilakan sampaikan transaksi yang ingin dicatat.`,\n    `Salam ${userName}.\\n\\nApa yang bisa kami bantu catat hari ini?`\n  ],\n  gaul: [\n    `Yoo ${userName}! 👋\\n\\nMau nyatet apa nih hari ini?`,\n    `Wazzup ${userName}!\\n\\nAda yang mau dicatat nggak?`,\n    `Hai ${userName}! Gimana kabarnya?\\n\\nYuk catat transaksi hari ini!`\n  ]\n};\n\nconst templates = {\n  greeting: greetingTemplates[responseStyle] || greetingTemplates.santai,\n  reminder_off: [\n    'Baik, reminder sudah dimatikan. Ketik \"nyalakan reminder\" jika ingin mengaktifkan lagi.',\n    'Reminder sudah dinonaktifkan. Kamu tidak akan diingatkan lagi.',\n    'Oke, reminder dimatikan. Untuk mengaktifkan lagi, ketik \"reminder on\".'\n  ],\n  reminder_on: [\n    'Reminder sudah diaktifkan! Kamu akan diingatkan setiap hari jika belum input transaksi.',\n    'Baik, reminder aktif. Saya akan mengingatkan kamu setiap hari.',\n    'Reminder sudah nyala. Kamu akan mendapat notifikasi harian.'\n  ],\n  ask_reminder: [\n    'Reminder adalah notifikasi harian untuk mengingatkan kamu mencatat transaksi. Ketik \"jangan ingat\" untuk mematikan, atau \"reminder on\" untuk mengaktifkan.',\n    'Saya akan mengingatkan kamu setiap hari jika belum input transaksi. Untuk mematikan: ketik \"jangan diingatkan\".',\n    'Reminder membantu kamu tidak lupa mencatat keuangan. Matikan dengan \"stop reminder\" atau aktifkan dengan \"reminder on\".'\n  ],\n  set_style: [\n    `Gaya balasan diatur ke ${styleLabel}.`,\n    `Siap! Sekarang gaya balasan ${styleLabel}.`,\n    `Done, gaya balasan diganti ke ${styleLabel}.`\n  ],\n  normal: [\n    `Hai ${userName}! Saya tidak mengerti pesan kamu. Coba ketik transaksi seperti: \"makan 50rb\" atau \"saldo masuk 1jt\"`,\n    `Hmm, saya tidak paham ${userName}. Coba ketik: \"bioskop 130k\" untuk pengeluaran atau \"gaji 5jt\" untuk pemasukan.`,\n    `${userName}, coba format: \"[deskripsi] [jumlah]\" seperti \"kopi 25k\" atau \"bonus 500k\"`\n  ]\n};\n\nconst intent = $json.intent || 'greeting';\nconsole.log('Generate Reply - Intent:', intent);\nconsole.log('Generate Reply - Available templates:', Object.keys(templates));\nconst pool = templates[intent] || templates.greeting;\nconst message = pool[Math.floor(Math.random() * pool.length)];\nconsole.log('Generate Reply - Message:', message);\n\n// Random delay 1-3 seconds\nconst delay = Math.floor(Math.random() * 2000) + 1000;\n\nreturn [{ json: { ...$json, replyMessage: message, delay } }];"
      },
      "id": "generate-reply",
      "name": "Generate Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1850,
        400
      ]
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "seconds"
      },
      "id": "wait-delay",
      "name": "Wait (Random Delay)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1650,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gowa-dsidfoh89ayl.sgp-irawan.sumopod.my.id/send/message",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Basic b05LRk1PbmE6ekpjUnM2MmtaTFVNaWFQVDJrNDBJSksy"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  phone: ($json.phone || $json.phone_number || $json.data?.phone_number || '').toString().replace(/^\\+/, ''),\n  message: $json.replyMessage || ''\n}) }}",
        "options": {
          "retry": {
            "maxRetries": 3,
            "retryOnFail": true
          }
        }
      },
      "id": "send-wa",
      "name": "Send WhatsApp (GoWA)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1850,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gowa-dsidfoh89ayl.sgp-irawan.sumopod.my.id/send/message",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Basic b05LRk1PbmE6ekpjUnM2MmtaTFVNaWFQVDJrNDBJSksy"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  phone: ($('Detect Intent').first().json.phone || $json.phone || $json.phone_number || '').toString().replace(/^\\+/, ''),\n  message: $('Detect Intent').first().json.replyMessage || $json.replyMessage || 'Halo! Mau catat apa hari ini?'\n}) }}",
        "options": {
          "retry": {
            "maxRetries": 3,
            "retryOnFail": true
          }
        }
      },
      "id": "send-ai-reply",
      "name": "Send AI Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1350,
        500
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: 'Message processed' } }}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2050,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "should-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-skip",
      "name": "Check Skip",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        550,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: 'Skipped - not a user message', reason: $json.reason || 'unknown' } }}"
      },
      "id": "skip-response",
      "name": "Skip Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        750,
        450
      ]
    }
  ],
  "connections": {
    "Webhook (Incoming WA)": {
      "main": [
        [
          {
            "node": "Normalize Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Payload": {
      "main": [
        [
          {
            "node": "Check Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Skip": {
      "main": [
        [
          {
            "node": "Skip Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check or Create User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check or Create User": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Data": {
      "main": [
        [
          {
            "node": "Check Pending Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Intent (AI)": {
      "main": [
        [
          {
            "node": "Detect Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Intent": {
      "main": [
        [
          {
            "node": "Route By Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route By Intent": {
      "main": [
        [
          {
            "node": "Save Transaction",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Struk Quota",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send AI Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send AI Reply": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Reminder OFF": {
      "main": [
        [
          {
            "node": "Generate Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Reminder ON": {
      "main": [
        [
          {
            "node": "Generate Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Style": {
      "main": [
        [
          {
            "node": "Generate Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Reply": {
      "main": [
        [
          {
            "node": "Wait (Random Delay)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait (Random Delay)": {
      "main": [
        [
          {
            "node": "Send WhatsApp (GoWA)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp (GoWA)": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Period": {
      "main": [
        [
          {
            "node": "Generate PDF Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate PDF Report": {
      "main": [
        [
          {
            "node": "Handle PDF Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle PDF Response": {
      "main": [
        [
          {
            "node": "Switch PDF Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch PDF Response": {
      "main": [
        [
          {
            "node": "Send PDF via GoWA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Error Message": {
      "main": [
        [
          {
            "node": "Wait (Random Delay)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send PDF via GoWA": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Pending Upload": {
      "main": [
        [
          {
            "node": "Generate Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Question": {
      "main": [
        [
          {
            "node": "Wait (Random Delay)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirm Income": {
      "main": [
        [
          {
            "node": "Generate Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirm Expense": {
      "main": [
        [
          {
            "node": "Generate Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Confirmation": {
      "main": [
        [
          {
            "node": "Wait (Random Delay)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Transaction (OpenRouter)": {
      "main": [
        [
          {
            "node": "Parse OpenRouter Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse OpenRouter Response": {
      "main": [
        [
          {
            "node": "Check Has Transaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Struk Quota": {
      "main": [
        [
          {
            "node": "Check Has Struk Quota",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Has Struk Quota": {
      "main": [
        [
          {
            "node": "Parse Struk (OpenRouter Vision)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Quota Exceeded Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Quota Exceeded Reply": {
      "main": [
        [
          {
            "node": "Wait (Random Delay)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Struk (OpenRouter Vision)": {
      "main": [
        [
          {
            "node": "Parse Struk Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Struk Response": {
      "main": [
        [
          {
            "node": "Route Struk Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Struk Confirmation": {
      "main": [
        [
          {
            "node": "Create Pending Upload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Transaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Has Transaction": {
      "main": [
        [
          {
            "node": "Save Transaction",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Transaction": {
      "main": [
        [
          {
            "node": "Send AI Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Transaction Confirmation": {
      "main": [
        [
          {
            "node": "Wait (Random Delay)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Pending Upload": {
      "main": [
        [
          {
            "node": "Detect Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Confirmation": {
      "main": [
        [
          {
            "node": "Route Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Confirmation": {
      "main": [
        [
          {
            "node": "Confirm Income",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Confirm Expense",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Question",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Detect Intent (AI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}