n8n-workflows/01-chat-reminder-control.json
{
  "name": "WA Finance Bot - Chat & Reminder Control",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wa-in",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-in",
      "name": "Webhook (Incoming WA)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "wa-in"
    },
    {
      "parameters": {
        "jsCode": "// Normalize payload from GoWA\nconst phone = ($json.from || $json.phone || \"\").toString().trim();\nconst text = ($json.text || $json.message || \"\").toString().toLowerCase();\n\nreturn [{ json: { phone, text } }];"
      },
      "id": "normalize",
      "name": "Normalize Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/api/internal/users/check-or-create",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone_number",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "name",
              "value": "="
            }
          ]
        },
        "options": {}
      },
      "id": "check-user",
      "name": "Check or Create User",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Detect intent from text\nconst text = $json.text || \"\";\nconst lowerText = text.toLowerCase();\n\n// Intent OFF keywords\nconst offKeywords = [\n  'jangan ingat',\n  'jangan diingatkan',\n  'stop reminder',\n  'matikan reminder',\n  'jangan reminder'\n];\n\n// Intent ON keywords\nconst onKeywords = [\n  'nyalakan reminder',\n  'aktifkan reminder',\n  'reminder on'\n];\n\n// Intent ASK keywords\nconst askKeywords = [\n  'kok diingetin',\n  'kenapa diingatkan',\n  'reminder apa',\n  'cara matiin reminder',\n  'gimana stop'\n];\n\n// Style keywords\nconst styleMap = {\n  'gaya santai': 'santai',\n  'gaya biasa': 'netral',\n  'gaya netral': 'netral',\n  'gaya formal': 'formal',\n  'gaya gaul': 'gaul'\n};\n\nlet intent = 'normal';\nlet style = null;\n\nfor (const key of Object.keys(styleMap)) {\n  if (lowerText.includes(key)) {\n    intent = 'set_style';\n    style = styleMap[key];\n    break;\n  }\n}\n\nif (intent === 'normal') {\n  if (offKeywords.some(kw => lowerText.includes(kw))) {\n    intent = 'reminder_off';\n  } else if (onKeywords.some(kw => lowerText.includes(kw))) {\n    intent = 'reminder_on';\n  } else if (askKeywords.some(kw => lowerText.includes(kw))) {\n    intent = 'ask_reminder';\n  }\n}\n\nreturn [{ json: { ...$json, intent, style } }];"
      },
      "id": "detect-intent",
      "name": "Detect Intent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "if-reminder-off",
              "leftValue": "={{ $json.intent }}",
              "rightValue": "reminder_off",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "if-reminder-on",
              "leftValue": "={{ $json.intent }}",
              "rightValue": "reminder_on",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "if-ask",
              "leftValue": "={{ $json.intent }}",
              "rightValue": "ask_reminder",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "if-set-style",
              "leftValue": "={{ $json.intent }}",
              "rightValue": "set_style",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "switch-intent",
      "name": "Switch Intent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/api/internal/users/reminder",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone_number",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "reminder_enabled",
              "value": "=false"
            }
          ]
        },
        "options": {}
      },
      "id": "update-reminder-off",
      "name": "Update Reminder OFF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/api/internal/users/reminder",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone_number",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "reminder_enabled",
              "value": "=true"
            }
          ]
        },
        "options": {}
      },
      "id": "update-reminder-on",
      "name": "Update Reminder ON",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/api/internal/users/style",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone_number",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "style",
              "value": "={{ $json.style }}"
            }
          ]
        },
        "options": {}
      },
      "id": "update-style",
      "name": "Update Style",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "jsCode": "// Template pools for responses\nconst styleLabel = ($json.style || '').toString();\nconst templates = {\n  reminder_off: [\n    'Baik, reminder sudah dimatikan. Ketik \"nyalakan reminder\" jika ingin mengaktifkan lagi.',\n    'Reminder sudah dinonaktifkan. Kamu tidak akan diingatkan lagi.',\n    'Oke, reminder dimatikan. Untuk mengaktifkan lagi, ketik \"reminder on\".'\n  ],\n  reminder_on: [\n    'Reminder sudah diaktifkan! Kamu akan diingatkan setiap hari jika belum input transaksi.',\n    'Baik, reminder aktif. Saya akan mengingatkan kamu setiap hari.',\n    'Reminder sudah nyala. Kamu akan mendapat notifikasi harian.'\n  ],\n  ask_reminder: [\n    'Reminder adalah notifikasi harian untuk mengingatkan kamu mencatat transaksi. Ketik \"jangan ingat\" untuk mematikan, atau \"reminder on\" untuk mengaktifkan.',\n    'Saya akan mengingatkan kamu setiap hari jika belum input transaksi. Untuk mematikan: ketik \"jangan diingatkan\".',\n    'Reminder membantu kamu tidak lupa mencatat keuangan. Matikan dengan \"stop reminder\" atau aktifkan dengan \"reminder on\".'\n  ],\n  set_style: [\n    `Gaya balasan diatur ke ${styleLabel}.`,\n    `Siap! Sekarang gaya balasan ${styleLabel}.`,\n    `Done, gaya balasan diganti ke ${styleLabel}.`\n  ],\n  normal: [\n    'Halo! Saya bot pencatat keuangan. Ketik \"reminder apa\" untuk info lebih lanjut.',\n    'Hai! Saya siap membantu mencatat keuangan kamu. Ketik \"reminder apa\" untuk info reminder.',\n    'Selamat datang! Gunakan saya untuk mencatat transaksi. Ketik \"reminder apa\" untuk info.'\n  ]\n};\n\nconst intent = $json.intent || 'normal';\nconst pool = templates[intent] || templates.normal;\nconst message = pool[Math.floor(Math.random() * pool.length)];\n\n// Random delay 1-3 seconds\nconst delay = Math.floor(Math.random() * 2000) + 1000;\n\nreturn [{ json: { ...$json, replyMessage: message, delay } }];"
      },
      "id": "generate-reply",
      "name": "Generate Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "seconds"
      },
      "id": "wait-delay",
      "name": "Wait (Random Delay)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GOWA_URL }}/api/send",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "message",
              "value": "={{ $json.replyMessage }}"
            }
          ]
        },
        "options": {
          "retry": {
            "maxRetries": 3,
            "retryOnFail": true
          }
        }
      },
      "id": "send-wa",
      "name": "Send WhatsApp (GoWA)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1850, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: 'Message processed' } }}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2050, 300]
    }
  ],
  "connections": {
    "Webhook (Incoming WA)": {
      "main": [[{ "node": "Normalize Payload", "type": "main", "index": 0 }]]
    },
    "Normalize Payload": {
      "main": [[{ "node": "Check or Create User", "type": "main", "index": 0 }]]
    },
    "Check or Create User": {
      "main": [[{ "node": "Detect Intent", "type": "main", "index": 0 }]]
    },
    "Detect Intent": {
      "main": [[{ "node": "Switch Intent", "type": "main", "index": 0 }]]
    },
    "Switch Intent": {
      "main": [
        [{ "node": "Update Reminder OFF", "type": "main", "index": 0 }],
        [{ "node": "Update Reminder ON", "type": "main", "index": 0 }],
        [{ "node": "Generate Reply", "type": "main", "index": 0 }],
        [{ "node": "Update Style", "type": "main", "index": 0 }]
      ]
    },
    "Update Reminder OFF": {
      "main": [[{ "node": "Generate Reply", "type": "main", "index": 0 }]]
    },
    "Update Reminder ON": {
      "main": [[{ "node": "Generate Reply", "type": "main", "index": 0 }]]
    },
    "Update Style": {
      "main": [[{ "node": "Generate Reply", "type": "main", "index": 0 }]]
    },
    "Generate Reply": {
      "main": [[{ "node": "Wait (Random Delay)", "type": "main", "index": 0 }]]
    },
    "Wait (Random Delay)": {
      "main": [[{ "node": "Send WhatsApp (GoWA)", "type": "main", "index": 0 }]]
    },
    "Send WhatsApp (GoWA)": {
      "main": [[{ "node": "Webhook Response", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}

