n8n-workflows/02-daily-reminder-cron.json
{
  "name": "WA Finance Bot - Daily Reminder Cron",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 20 * * *"
            }
          ]
        },
        "timezone": "Asia/Makassar"
      },
      "id": "cron-trigger",
      "name": "Cron (Daily 20:00)",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.BACKEND_URL }}/api/internal/reminders/today-empty",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-candidates",
      "name": "Fetch Reminder Candidates",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract phone numbers from response\nconst response = $json;\nconst items = response.items || [];\n\nreturn items.map(item => ({ json: { phone_number: item.phone_number } }));"
      },
      "id": "extract-phones",
      "name": "Extract Phone Numbers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-batch",
      "name": "Split in Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [850, 300]
    },
    {
      "parameters": {
        "jsCode": "// Template pools for reminder messages\nconst templates = [\n  'Hai! Jangan lupa catat transaksi hari ini ya. Balas dengan format: jumlah keterangan (contoh: 50k makan siang)',\n  'Reminder: Belum ada transaksi tercatat hari ini. Yuk catat keuangan kamu sekarang!',\n  'Halo! Saya ingatkan untuk mencatat transaksi hari ini. Format: jumlah keterangan',\n  'Jangan lupa catat keuangan hari ini! Balas dengan format: jumlah keterangan',\n  'Reminder harian: Belum ada transaksi tercatat. Yuk catat sekarang!',\n  'Hai! Waktunya catat transaksi hari ini. Format: jumlah keterangan (contoh: 100k belanja)'\n];\n\nconst message = templates[Math.floor(Math.random() * templates.length)];\nconst delay = Math.floor(Math.random() * 2000) + 1000; // 1-3 seconds\n\nreturn [{ json: { ...$json, message, delay } }];"
      },
      "id": "generate-reminder",
      "name": "Generate Reminder Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "seconds"
      },
      "id": "wait-delay",
      "name": "Wait (Random Delay)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GOWA_URL }}/api/send",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $json.phone_number }}"
            },
            {
              "name": "message",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {
          "retry": {
            "maxRetries": 3,
            "retryOnFail": true
          }
        }
      },
      "id": "send-reminder",
      "name": "Send Reminder (GoWA)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1450, 300]
    }
  ],
  "connections": {
    "Cron (Daily 20:00)": {
      "main": [[{ "node": "Fetch Reminder Candidates", "type": "main", "index": 0 }]]
    },
    "Fetch Reminder Candidates": {
      "main": [[{ "node": "Extract Phone Numbers", "type": "main", "index": 0 }]]
    },
    "Extract Phone Numbers": {
      "main": [[{ "node": "Split in Batches", "type": "main", "index": 0 }]]
    },
    "Split in Batches": {
      "main": [[{ "node": "Generate Reminder Message", "type": "main", "index": 0 }]]
    },
    "Generate Reminder Message": {
      "main": [[{ "node": "Wait (Random Delay)", "type": "main", "index": 0 }]]
    },
    "Wait (Random Delay)": {
      "main": [[{ "node": "Send Reminder (GoWA)", "type": "main", "index": 0 }]]
    },
    "Send Reminder (GoWA)": {
      "main": [[{ "node": "Split in Batches", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}

