n8n-workflows/04-subscription-expiry-reminder.json
{
  "name": "WA Finance Bot - Subscription Expiry Reminder",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyDay",
              "hour": 8,
              "minute": 0
            }
          ]
        },
        "timezone": "Asia/Makassar"
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300],
      "disabled": false
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.BACKEND_URL }}/api/internal/subscriptions/expiring-soon?days=2",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "get-expiring",
      "name": "Get Expiring Subscriptions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract items from response\nconst response = $input.item.json;\n\nif (!response.success || !response.data || !response.data.items || response.data.items.length === 0) {\n  // Return empty array to stop workflow\n  return [];\n}\n\nconst items = response.data.items;\n\n// Return items for loop\nreturn items.map(item => ({ json: item }));"
      },
      "id": "extract-items",
      "name": "Extract Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-batch",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "jsCode": "// Get user data from batch\nconst user = $input.item.json;\nconst phone = user.phone_number;\nconst plan = user.plan || 'free';\nconst days = user.days_until_expiry || 2;\nconst responseStyle = user.response_style || 'santai';\n\n// Plan names\nconst planNames = {\n  'free': 'Trial Gratis',\n  'pro': 'Pro',\n  'vip': 'VIP'\n};\n\nconst planName = planNames[plan] || plan;\n\n// Generate message based on response style\nlet message = '';\n\nif (responseStyle === 'santai') {\n  message = `Hai! Subscription ${planName} kamu akan expired dalam ${days} hari nih. Mau lanjut pakai CatatBot? Reply \"renew\" atau \"lanjut\" untuk perpanjang ya! 😊`;\n} else if (responseStyle === 'formal') {\n  message = `Pemberitahuan: Langganan ${planName} Anda akan berakhir dalam ${days} hari. Silakan perpanjang untuk melanjutkan layanan. Balas \"renew\" untuk memperpanjang.`;\n} else if (responseStyle === 'gaul') {\n  message = `Woi, subscription ${planName} lo mau habis ${days} hari lagi! Renew dong biar tetep bisa catat keuangan. Reply \"renew\" ya! 🚀`;\n} else {\n  // netral/biasa\n  message = `Subscription ${planName} Anda akan berakhir dalam ${days} hari. Balas \"renew\" untuk memperpanjang langganan.`;\n}\n\nreturn [{\n  json: {\n    phone_number: phone,\n    plan: plan,\n    plan_name: planName,\n    days: days,\n    response_style: responseStyle,\n    message: message\n  }\n}];"
      },
      "id": "generate-message",
      "name": "Generate Reminder Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GOWA_URL }}/api/send",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $json.phone_number }}"
            },
            {
              "name": "message",
              "value": "={{ $json.message }}"
            },
            {
              "name": "delay",
              "value": "=2000"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "send-gowa",
      "name": "Send via GoWA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1450, 300],
      "notes": "Send reminder message to user via GoWA"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Expiring Subscriptions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Expiring Subscriptions": {
      "main": [
        [
          {
            "node": "Extract Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Items": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Generate Reminder Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Reminder Message": {
      "main": [
        [
          {
            "node": "Send via GoWA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send via GoWA": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-16T00:00:00.000Z",
  "versionId": "1"
}

